* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.app {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.calculator {
    background-color: #121211;
    width: 100%;
    max-width: 350px;
    min-height: 520px;
    display: flex;
    flex-direction: column;
    border-radius: 1.5rem;
    overflow: hidden;
}

.display {
    min-height: 170px;
    padding: 1.5rem;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    color: white;
    text-align: right;
    flex: 1 1 0%;
}

.display .content {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    width: 100%;
    max-width: 100%;
    overflow: auto;
}

.display .input {
    width: 100%;
    font-size: 1.25rem;
    margin-bottom: 0.5rem;
}

.display .output {
    font-size: 3rem;
    font-weight: 700;
    width: 100%;
    white-space: nowrap;
}

.display .operator {
    color: #EB6666;
}

.display .brackets,
.display .percent {
    color: #ec2308;
}

.keys {
    background-color: #dbe0eb;
    padding: 1.5rem;
    border-radius: 1.5rem 1.5rem 0 0;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-gap: 1rem;
}

.keys .key {
    position: relative;
    cursor: pointer;
    display: block;
    height: 0;
    padding-top: 94%;
    background-color: #c8cee2bc;
    border-radius: 2rem;
    transition: 0.2s;
    user-select: none;
    box-shadow: 4px 4px 10px rgb(23, 23, 23);
}

.keys .key span {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    font-size: 2rem;
    font-weight: bold;
    color:black
}



.keys .key.operator span {
    color: #e41010;
}

.keys .key.action span {
    color: #eb9957;
}
.keys .keys:active{
    background-color: black;
    color:white;
}